.gamefield-medium {

    grid:
        [row1-start] "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16"
        [row2-start] "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16"
        [row3-start] "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16"
        [row4-start] "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16"
        [row5-start] "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16"
        [row6-start] "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16"
        [row7-start] "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16"
        [row8-start] "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16"
        [row9-start] "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16"
        [row10-start] "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16"
        [row11-start] "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16"
        [row12-start] "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16"
        [row13-start] "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16"
        [row14-start] "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16"
        [row15-start] "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16"
        [row16-start] "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16";
}

.field-medium{
    margin: 2px;
    width: 45px;
    cursor: pointer;
}

.field-medium:hover{
    filter: brightness(1.1);
}