body {
    margin: 0;
    box-sizing: border-box;
    font-size: 64px;
    font-family: "Nerko One";
    overflow: hidden;
}

.main-container {
    background-image: url("./../Designs/Version 1/Background/Full bg.png");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 64px;
}

.gamemode-container {
    display: flex;
    position: relative;
    width: 250px;
    cursor: pointer;
}

select:hover, option:hover{
    cursor: pointer;
}

.select-arrow {
    position: absolute;
    right: 32px;
}

.title {
    height: 90vh;
    object-fit: contain;
}

.main-hud-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.hud-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    width: 250px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.hud-select-card {
    background-color: white;
    width: 250px;
    height: 100px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    font-size: 50px;
    font-family: "Nerko One";
    text-align: center;
    outline: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    background-image: url("./../Designs/Version\ 1/Icons/Select_Arrow.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.hud-select-card option {
    font-size: 50px;
    font-family: "Nerko One";
    text-align: center;
}

.hud-images {
    width: 100px;
}

.gamefield {
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.15);
    margin: 0 64px;
    padding: 8px;
    user-select: none;
    color: #eb1885;
    text-shadow: 2px 3px white;
}

#time {
    min-width: 210px;
    text-align: center;
}

.end-screen {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.overlay-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.endscreen-font-img {
    width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.play-again-btn {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    width: 750px;
    position: absolute;
    bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 50px;
    cursor: pointer;
    user-select: none;
}

.play-again-btn span {
    color: #83dd3c;
    font-size: 100px;
}

.play-again-btn img {
    width: 125px;
}

.finish-time {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    color: white;
    text-shadow: 5px 5px black;
}

.d-none {
    display: none;
}

/* Loading Spinner */

.loading-spinner-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
